* {
    padding: 0;
    margin: 0;
}

body {
    background: darkslategrey;
    color: white;
}

.container {
    width: 90%;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

button {
    border: none;
    cursor: pointer;
}

.flag {
    width: 300px;
    object-fit: contain;
    height: 200px;
}

.block {
    padding: 20px;
    border: 2px solid white;
}